* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  width: min(1080px, 80vw);
  margin: auto;
}

.navBar {
  border-bottom: 1px solid hsla(0, 0%, 80%, 0.8);
  background-color: #00000033;
  top: 0;
  overflow: hidden;
}

.App {
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  top: 0;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden
}

.formRow {
  max-width: min(700px, 80%);
  margin: 50px auto;
  /* background-color: rgba(255, 255, 255, 0.7); */
}

.portfolioLayout {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

form {
  background-color: rgba(255, 255, 255, 0.6);
}

.navBarLogo {
  height: 64px;
  display: inline-block;
  border-right: 2px solid #ffff;
  border-left: 2px solid #ffff;
}

.mobileNavLink {
  font-size: 2rem;
}

.mobileLi {
  padding-top: 1.5rem;
}

.techIcons {
  margin: 2rem;
  font-size: 5rem;
  margin-top: 60px;
}

.techIconContainer {
  text-align: center;
  transform: translateX(-5px);
  margin-bottom: 30px;
}

.htmlIcon {
  color: #e64c22;
}

.cssIcon {
  color: #036fbb;
}

.jsIcon {
  color: #f0d91f;
}

.reactIcon {
  color: #61dbfc;
}

.nodeIcon {
  color: #82cd29;
}

.npmIcon {
  color: #cb3837;
}

.gitIcon {
  color: #f05133;
}

.mobileTextAdjust {
  text-indent: 1rem;
}

.cardStyle {
  /* shadowColor: "black", */
  box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  background-color: #fff;
}

@media only screen and (min-width: 992px) {
  .mobileOnlyBtn {
    display: none;
  }

  .fixed-action-btn {
    display: none;
  }
}

@media only screen and (max-width: 1130px) {
  .formIcon {
    display: none;
  }

  .aboutMeHeader {
    font-size: 3.5rem;
  }


  .portfolioLayout {
    margin-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }

  .navBar {
    height: 120px !important;
  }

  .navContainer {
    line-height: 120px !important;
  }

  .triggerButton {
    line-height: 120px !important;
  }

  .menuIcon {
    margin-top: 20px;
    font-size: 80px !important;
  }

  .navBarLogo {
    height: 120px !important
  }

  .mobileTextAdjust {
    font-size: 2.5rem;
  }

  .portItemDescription {
    font-size: 2rem;
  }

  .sidenav {
    width: 350px
  }

  .mobileLi {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }

  .portItemTitle {
    font-size: 3.2rem;
  }

  .card-content {
    padding-bottom: 15px
  }

  .card-title {
    padding-bottom: 15px
  }

  .moreIcon {
    font-size: 2.5rem;
  }

  .demoLinks {
    font-size: 2rem;
  }

  .formMobileAdjust {
    font-size: 2.5rem !important;
    line-height: 2.5rem;
    vertical-align: text-top;
    transform: translateY(-15px);
  }

  .formMobileAdjustMessage {
    font-size: 2.5rem !important;
    line-height: 2.5rem;
    vertical-align: text-top;
    transform: translateY(-25px);
  }

  .submitContactMobile {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .formSubmitBtn {
    height: 4.5rem;

    /* height: 3rem; */
    line-height: 2.5rem;
  }

  .formMobileAdjustInput {
    font-size: 2.5rem !important;
    line-height: 2.5rem;

  }


  .navBar {
    height: 76px;
  }

  .navBarLogo {
    height: 76px;
  }

  .triggerButton {
    transform: translateX(-30px);
  }

  .techIcons {
    font-size: 5.5rem !important;
    padding-right: 5px;
    padding-left: 5px;
  }

  .mobileTextAdjustLarge {
    font-size: 3.5rem !important;
  }



  .infoCardHeader {
    font-size: 3.5rem;
  }

  .techIcons {
    margin: 7px;
    font-size: 2.3rem;
  }

  .mobileAdjust {
    margin-left: 50% !important;
    transform: translateX(calc(-50% - 3rem));
    max-width: 80%;
  }

  #email,
  #name {
    width: 100%;
  }
}



/* Import from prior verison begins here */

#nav {
  border-bottom: 1px solid #cccc;
  background-color: #fff;
}

.figurativeNothing>a {
  color: #777777;
}



.demoLinks a {
  padding: 0px 10px;
}

.mobileTweak {
  padding-left: 3rem;
}

@media only screen and (max-width: 1050px) {
  .main {
    overflow-y: hidden;
  }

  .mobileAdjust {
    width: 80% !important
  }

  input {
    width: 100% !important;

  }

  .mobileTweak {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  /* .portfolioLayout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  } */

  .RandomDude {
    width: 250px;
    height: 250px;
  }
}

@media only screen and (max-width: 800px) {
  .main {
    overflow-y: hidden;
  }

  .portfolioLayout {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .RandomDude {
    display: none;
  }
}

.mobileTweak {
  padding-left: 3rem;
}

@media only screen and (max-width: 500px) {
  .conditionalPrefix {
    display: none !important;
  }

  .mobileTweak {
    padding-left: 0;
  }
}

.nav-wrapper>.brand-logo {
  padding-left: 20px;
  padding-right: 20px;
}

.activeSection {
  background-color: #4aaaa5;
}

.infoCardHeader {
  width: 90%;
  margin: auto;
  font-size: 1.5rem;
  line-height: 5rem;
  padding: 20px;
  border-bottom: 1px solid black;
}

.infoCard {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.activeSection>a {
  color: #fff;
}

.mainSection {
  min-height: calc(100vh - 164px);
  height: 100%;
  width: 100%;
  margin-top: 50px;
  background-color: rgba(255, 255, 255);
}

.row {
  margin-left: auto;
  margin-right: auto;
}

.col {
  width: 50%;
  display: inline-block;
}

/* Import from prior version ends here */

@media only screen and (max-width: 600px) {
  .ProfileImage {
    display: none;
  }
}